<div class="modal-header align-middle">

</div>

<div class="modal-body">
    <form [formGroup]="form" id="form-1">
        <div class="row">
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Giờ làm việc bắt đầu<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.startTime.errors }" class="form-control"
                    formControlName="startTime" autocomplete="none" type="time" />
                <div *ngIf="isSubmit && f.startTime.errors" class="invalid-feedback">
                    <span *ngIf="f.startTime.errors.required">Please enter the old password</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Giờ làm việc kết thúc<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.endTime.errors }" class="form-control"
                    formControlName="endTime" autocomplete="none" type="time" />
                <div *ngIf="isSubmit && f.endTime.errors" class="invalid-feedback">
                    <span *ngIf="f.endTime.errors.required">Please enter the new password</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Ngày làm việc trong tuần<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <ng-select [ngClass]="{ 'is-invalid': isSubmit && f.workDay.errors }" formControlName="workDay"
                    bindLabel="day" bindValue="day" autocomplete="none" [items]="listDay" [multiple]="true">
                </ng-select>
                <div *ngIf="isSubmit && f.workDay.errors" class="invalid-feedback">
                    <span *ngIf="f.workDay.errors.required">Please confirm new pasword</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Ngày nghỉ<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <ng-select [ngClass]="{ 'is-invalid': isSubmit && f.freeDay.errors }" formControlName="freeDay"
                    bindLabel="day" bindValue="day" autocomplete="none" [items]="listDay" [multiple]="true">
                </ng-select>
                <div *ngIf="isSubmit && f.freeDay.errors" class="invalid-feedback">
                    <span *ngIf="f.freeDay.errors.required">Please confirm new pasword</span>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <button (click)="submit()" class="btn btn-primary" type="button">
        <i class="fa fa-check mr-1"></i>Save
    </button>
</div>