<div class="modal-header align-middle">

</div>

<div class="modal-body">
    <form [formGroup]="form" id="form-1">
        <div class="row">
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{ 'cpw-enter-old-pwd' | translate }}<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.password.errors }" class="form-control"
                    formControlName="password" autocomplete="none" type="password" />
                <div *ngIf="isSubmit && f.password.errors" class="invalid-feedback">
                    <span *ngIf="f.password.errors.required">{{ 'cpw-enter-old-pwd-require' | translate }}</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{ 'cpw-enter-new-pwd' | translate }}<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.newPassword.errors }" class="form-control"
                    formControlName="newPassword" autocomplete="none" type="password" />
                <div *ngIf="isSubmit && f.newPassword.errors" class="invalid-feedback">
                    <span *ngIf="f.newPassword.errors.required">{{ 'cpw-enter-new-pwd-require' | translate }}</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">{{ 'cpw-confirm-pwd' | translate }}<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.confirmNewPass.errors }" class="form-control"
                    formControlName="confirmNewPass" autocomplete="none" type="password" />
                <div *ngIf="isSubmit && f.confirmNewPass.errors" class="invalid-feedback">
                    <span *ngIf="f.confirmNewPass.errors.required">{{ 'cpw-confirm-pwd-require' | translate }}</span>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <button (click)="submit()" class="btn btn-primary" type="button">
        <i class="fa fa-check mr-1"></i>{{ 'submit' | translate }}
    </button>
</div>