<div class="modal-header align-middle">

</div>

<div class="modal-body">
    <form [formGroup]="form" id="form-1">
        <div class="row">
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Thời gian tồn tại phiên đăng nhập<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.timeInLogin.errors }" class="form-control"
                    formControlName="timeInLogin" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.timeInLogin.errors" class="invalid-feedback">
                    <span *ngIf="f.timeInLogin.errors.required">Please enter the time in Login</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Số lần tối đa đăng nhập sai, nhập sai<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.limitLoginWrong.errors }" class="form-control"
                    formControlName="limitLoginWrong" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.limitLoginWrong.errors" class="invalid-feedback">
                    <span *ngIf="f.limitLoginWrong.errors.required">Please enter the limit Login Wrong</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Số lần tối đa đăng nhập trong ngày<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.limitLogin.errors }" class="form-control"
                    formControlName="limitLogin" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.limitLogin.errors" class="invalid-feedback">
                    <span *ngIf="f.limitLogin.errors.required">Please enter the limit Login</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Thời gian đăng nhập lại<span class="text-danger">(*)</span></label>
                <p>(khi vượt quá số lần đăng nhâp sai)</p>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.timeLoginAgain.errors }" class="form-control"
                    formControlName="timeLoginAgain" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.timeLoginAgain.errors" class="invalid-feedback">
                    <span *ngIf="f.timeLoginAgain.errors.required">Please enter the time Login Again</span>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <button (click)="submit()" class="btn btn-primary" type="button">
        <i class="fa fa-check mr-1"></i>Save
    </button>
</div>