<div class="modal-header align-middle">

</div>

<div class="modal-body">
    <form [formGroup]="form" id="form-1">
        <div class="row">
            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Độ dài tối thiểu<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.minLength.errors }" class="form-control"
                    formControlName="minLength" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.minLength.errors" class="invalid-feedback">
                    <span *ngIf="f.minLength.errors.required">Please enter the minimun length</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Độ dài tối đa<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.maxLength.errors }" class="form-control"
                    formControlName="maxLength" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.maxLength.errors" class="invalid-feedback">
                    <span *ngIf="f.maxLength.errors.required">Please enter the maximun length</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Số lượng ký tự chữ cái tối thiểu<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.minChar.errors }" class="form-control"
                    formControlName="minChar" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.minChar.errors" class="invalid-feedback">
                    <span *ngIf="f.minChar.errors.required">Please enter the minimum character</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Số lượng ký tự chữ số tối thiểu<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.minNum.errors }" class="form-control"
                    formControlName="minNum" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.minNum.errors" class="invalid-feedback">
                    <span *ngIf="f.minNum.errors.required">Please enter the minimum number</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Số lượng ký tự đặc biệt tối thiểu<span class="text-danger">(*)</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.minSPChar.errors }" class="form-control"
                    formControlName="minSPChar" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.minSPChar.errors" class="invalid-feedback">
                    <span *ngIf="f.minSPChar.errors.required">Please enter the minimum special character</span>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 form-group">
                <label class="pt-1">Thời gian hết hạn mật khẩu<span class="text-danger">(*)</span></label>
            </div>
            <div class="col-sm-12 col-md-6 form-group">
                <input [ngClass]="{ 'is-invalid': isSubmit && f.timeOverPass.errors }" class="form-control"
                    formControlName="timeOverPass" autocomplete="none" type="number" />
                <div *ngIf="isSubmit && f.timeOverPass.errors" class="invalid-feedback">
                    <span *ngIf="f.timeOverPass.errors.required">Please enter password expiration time</span>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <button (click)="submit()" class="btn btn-primary" type="button">
        <i class="fa fa-check mr-1"></i>Save
    </button>
</div>