<div class="container-fluid">
    <div class="row">
        <div class="col-12 card-box">
            <div id="chart">
                <app-dashboard></app-dashboard>
            </div>
        </div>
        <div class="col-6 card-box">
            <div id="chart">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
        <div class="col-6 card-box">
            <div id="chart">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
</div>
